/*!***********************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./app/reset.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.6;
    font-size:15px;    
    font-family: 'Noto Sans KR', sans-serif;
}
a {
	line-height: 1.6;
    font-size:15px;    
    text-decoration: none;
    color:#333;
}

ol, ul , li {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*!**********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./src/components/reset.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.6;
    font-size:15px;    
    font-family: 'Noto Sans KR', sans-serif;
}
a {
	line-height: 1.6;
    font-size:15px;    
    text-decoration: none;
    color:#333;
}

ol, ul , li {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*!************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[13].use[5]!./src/components/Main.scss ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
#wrap #content .inner {
  width: 1200px;
  margin: auto;
}
#wrap #content .inner .img {
  height: 180px;
  width: 1200px;
  display: flex;
  margin: 20px 0;
}
#wrap #content .inner .img .logo {
  height: 120px;
  margin: auto;
}
#wrap #content .inner .list {
  display: flex;
  flex-wrap: wrap;
}
#wrap #content .inner .list li {
  width: 150px;
  height: 230px;
  border: 3px solid lightgray;
  margin: 10px;
  box-sizing: border-box;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
}
#wrap #content .inner .list li img {
  width: 100%;
  box-sizing: border-box;
}
#wrap #content .inner .list li p {
  display: flex;
  justify-content: space-between;
  background: #131230;
}
#wrap #content .inner .list li p em {
  color: #ED1C24;
  font-size: 20px;
  font-weight: 700;
  margin-left: 10px;
}
#wrap #content .inner .list li p strong {
  line-height: 30px;
  text-align: right;
  font-size: 14px;
  font-weight: 500;
  margin-right: 5px;
  color: white;
}
#wrap #content .inner .list li span {
  display: block;
  color: white;
  text-align: right;
  font-size: 20px;
  padding-right: 5px;
  padding-bottom: 4px;
  background: #ED1C24;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
#wrap #content .inner .list li::after {
  content: attr(data-id);
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  top: -10px;
  left: -10px;
  background: lightslategrey;
  text-align: center;
  font-size: 18px;
  line-height: 25px;
}
#wrap #content .inner .list li:hover img {
  border: 3px solid #131230;
}
#wrap #content .inner .list li:hover em {
  color: white;
}
#wrap #content .inner .info {
  width: 100%;
  margin-top: 20px;
  display: flex;
}
#wrap #content .inner .info .gallery {
  margin: 30px;
  width: 450px;
  height: 500px;
  box-sizing: border-box;
  display: flex;
}
#wrap #content .inner .info .gallery .bigimgbox {
  display: block;
  width: 300px;
  margin: 10px auto;
}
#wrap #content .inner .info .gallery .bigimgbox .bigimg {
  display: block;
  width: 300px;
  margin: auto;
}
#wrap #content .inner .info .gallery ul {
  margin: 10px;
}
#wrap #content .inner .info .gallery ul .tn {
  width: 100px;
  cursor: pointer;
}
#wrap #content .inner .info .menubox {
  display: block;
}
#wrap #content .inner .info .menubox .menu {
  display: flex;
  justify-content: space-between;
  height: 80px;
  width: 650px;
}
#wrap #content .inner .info .menubox .menu .submenu {
  font-size: 20px;
  width: 119px;
  height: 55px;
  box-sizing: border-box;
  text-align: center;
  line-height: 50px;
  font-weight: 700;
  margin: 25px 3px;
  padding: 5px 15px;
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
  background: lightslategray;
  cursor: pointer;
}
#wrap #content .inner .info .menubox .menu .submenu.on {
  color: white;
  background: #131230;
}
#wrap #content .inner .info .menubox .menu .submenu:first-child {
  margin-left: 1px;
}
#wrap #content .inner .info .menubox .menu .submenu:last-child {
  margin-right: 1px;
}
#wrap #content .inner .info .menubox .con .profile {
  width: 650px;
  height: 450px;
}
#wrap #content .inner .info .menubox .con .profile .w1 {
  width: 150px;
}
#wrap #content .inner .info .menubox .con .profile .w2 {
  width: auto;
}
#wrap #content .inner .info .menubox .con .profile thead .noth {
  background: #131230;
  color: white;
  height: 35px;
  font-size: 18px;
  vertical-align: middle;
}
#wrap #content .inner .info .menubox .con .profile thead .nameth {
  background: #ED1C24;
  color: white;
  height: 45px;
  font-size: 20px;
  font-weight: 600;
  vertical-align: middle;
}
#wrap #content .inner .info .menubox .con .profile tbody td {
  border: 1px solid lightgray;
}
#wrap #content .inner .info .menubox .con .profile tbody td:first-child {
  background: #131230;
  color: white;
  text-align: center;
  vertical-align: middle;
  font-size: 18px;
}
#wrap #content .inner .info .menubox .con .profile tbody td:last-child {
  background: white;
  color: #000;
  font-size: 18px;
  padding-left: 20px;
  vertical-align: middle;
  text-align: left;
}
#wrap #content .inner .info .menubox .con .club {
  width: 650px;
}
#wrap #content .inner .info .menubox .con .club .w1 {
  width: 150px;
}
#wrap #content .inner .info .menubox .con .club .w2 {
  width: auto;
}
#wrap #content .inner .info .menubox .con .club thead .noth {
  background: #131230;
  color: white;
  height: 35px;
  font-size: 18px;
  vertical-align: middle;
}
#wrap #content .inner .info .menubox .con .club thead .nameth {
  background: #ED1C24;
  color: white;
  height: 45px;
  font-size: 20px;
  font-weight: 600;
  vertical-align: middle;
}
#wrap #content .inner .info .menubox .con .club tbody .clubhistory {
  background: #131230;
  color: white;
  text-align: center;
  vertical-align: middle;
  font-size: 18px;
}
#wrap #content .inner .info .menubox .con .club tbody .clublist {
  background: white;
  color: #000;
  font-size: 18px;
  padding-left: 20px;
  vertical-align: middle;
  text-align: left;
}
#wrap #content .inner .info .menubox .con .club tbody td {
  border: 1px solid lightgray;
  height: 80px;
}
#wrap #content .inner .info .menubox .con .stat {
  width: 650px;
  margin-bottom: 30px;
}
#wrap #content .inner .info .menubox .con .stat thead th {
  border: 1px solid lightgray;
}
#wrap #content .inner .info .menubox .con .stat thead .noth {
  background: #131230;
  color: white;
  height: 35px;
  font-size: 18px;
  vertical-align: middle;
  border: none;
}
#wrap #content .inner .info .menubox .con .stat thead .nameth {
  background: #ED1C24;
  color: white;
  height: 45px;
  font-size: 20px;
  font-weight: 600;
  vertical-align: middle;
  border: none;
}
#wrap #content .inner .info .menubox .con .stat thead .kbologo {
  height: 50px;
  border: none;
  text-align: center;
  box-sizing: border-box;
  background: lightgrey;
}
#wrap #content .inner .info .menubox .con .stat thead .kbologo img {
  height: 40px;
  margin-top: 5px;
}
#wrap #content .inner .info .menubox .con .stat thead .stats {
  background: #131230;
  color: white;
  height: 40px;
  vertical-align: middle;
  font-size: 16px;
}
#wrap #content .inner .info .menubox .con .stat tbody td {
  text-align: center;
  border: 1px solid lightgray;
  height: 35px;
  vertical-align: middle;
}
#wrap #content .inner .info .menubox .con .stat tbody td:first-child {
  background: #131230;
  color: white;
  text-align: center;
  vertical-align: middle;
  font-size: 18px;
}
#wrap #content .inner .info .menubox .con .news {
  margin-bottom: 30px;
}
#wrap #content .inner .info .menubox .con .news .noth {
  background: #131230;
  color: white;
  height: 35px;
  font-size: 18px;
  vertical-align: middle;
  border: none;
  text-align: center;
  line-height: 35px;
}
#wrap #content .inner .info .menubox .con .news .nameth {
  background: #ED1C24;
  color: white;
  height: 45px;
  line-height: 49px;
  font-size: 20px;
  font-weight: 600;
  vertical-align: middle;
  border: none;
  text-align: center;
}
#wrap #content .inner .info .menubox .con .news .naversports {
  height: 50px;
  border: none;
  text-align: center;
  background: #1EC800;
}
#wrap #content .inner .info .menubox .con .news .naversports img {
  height: 40px;
  margin-top: 5px;
}
#wrap #content .inner .info .menubox .con .news .newsUl {
  width: 650px;
}
#wrap #content .inner .info .menubox .con .news .newsUl .newsLi {
  border: 1px solid lightgray;
  box-sizing: border-box;
  padding: 10px;
}
#wrap #content .inner .info .menubox .con .news .newsUl .newsLi .newsA .title {
  font-size: 18px;
  font-weight: 600;
  margin: 3px 0;
}
#wrap #content .inner .info .menubox .con .youtube {
  margin-bottom: 30px;
}
#wrap #content .inner .info .menubox .con .youtube .noth {
  background: #131230;
  color: white;
  height: 35px;
  font-size: 18px;
  vertical-align: middle;
  border: none;
  text-align: center;
  line-height: 35px;
}
#wrap #content .inner .info .menubox .con .youtube .nameth {
  background: #ED1C24;
  color: white;
  height: 45px;
  line-height: 49px;
  font-size: 20px;
  font-weight: 600;
  vertical-align: middle;
  border: none;
  text-align: center;
}
